@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  background: #F2F2F2;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.page-header {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.navigation-list {
  display: flex;
  flex-direction: row;
}

.navigation-item {
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-direction: row;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.wish-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.main-index {
  color: black;
  background-color: white;
}

.hero {
  text-align: center;
  background-color: #82B3D3;
  background: url(../images/index-bg.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider-hero {
  position: absolute;
  margin: 0 auto;
}

.about {
  text-align: center;
}

.about-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.about-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
}

.advantages-about {
  text-align: center;
  background-color: #82B3D3;
}

.advantages-city-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages-city-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: white;
  margin-top: 0;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: white;
}

.advantages-item-accent {
  background-color: hsla(204, 48%, 67%, 0.2);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-top: 0
}

.welcome {
  text-align: center;
}

.welcome-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-top: 0
}

.welcome-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-top: 0
}

.services-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.services-item {
  background-color: white;
}

.services-item-accent {
  background-color: hsla(204, 48%, 67%, 0.12);
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
  margin-top: 0
}

.services-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-top: 0
}

.search {
  text-align: center;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  text-transform: uppercase;
  margin-top: 0
}

.search-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-top: 0
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.subscription {
  text-align: center;
  background-image: url(../images/subscribe.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  margin-top: 0
}

.subscription-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: white;
  margin-top: 0
}

.button-subscription {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.page-footer {
  background-color: white;
}

.social-list {
  display: flex;
  flex-direction: row;
}

.social-item {
  list-style-type: none;
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin-top: 0
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: white;
  margin: 0
}

.inner-hero-catalog {
  background-color: #82B3D3;
  background: url(../images/catalog-bg.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-decoration: none;
  margin-top: 0
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-top: 0
}

.catalog-price-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-top: 0
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-form {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #A9A9A9;
  margin-top: 0
}

.price-to {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #A9A9A9;
  margin-top: 0
}

.control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: white;
}

.button-cataloge-filter {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0
}

.button-cataloge-filter-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0
}

.catalog-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin-top: 0
}

.card-view-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.card-view-item {
  list-style-type: none;
}

.sort {
  text-decoration: none;
}

.sort-current {
  background-color: black;
  color: white;
  border-radius: 4px;
  border-color: black;
  text-decoration: none;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: white;
  border-color: #E6E6E6;
  border-radius: 4px;
}

.product-card-link {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: black;
  text-decoration: none;
  margin-top: 0;
}

.product-card-title {
  margin: 0;
}

.price-info {
  display: flex;
  flex-direction: row;
}

.hotel-card-group {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-top: 0;
}

.product-card-actions {
  display: flex;
  flex-direction: row;
}

.show-more {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;
}

.wish-list {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #82B3D3;
  border: none;
  text-transform: uppercase;
  margin-top: 0;
}

.rating-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rating-counter {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin: 0;
  text-align: center;
}

.rating-container {
  display: flex;
  flex-direction: row;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 0;
}

.pagination-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 0;
}

.pagination-link-truncate {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  text-decoration: none;
  margin-top: 0;
}

.subscription-inner {
  background-color: white;
  text-align: center;
}

.subscription-inner-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
