@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #F2F2F2;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}


.page-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 25px 0 50px 0 rgba(0, 0, 0, 0.15), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.naviation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 1060px;
  margin: 0 auto;
}

.link-current::before {
  background-image: url(../images/line-current.svg);
}

.navigation-item::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  width: 100%;
  height: 2px;
  top: 66px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 446px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  position: relative;
  list-style-type: none;
}

.count {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-style: normal;
  font-weight: 400;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  color: white;
  background-color: #7DB54F;
  top: 12px;
  left: 20px;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 446px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navigation-search::before {
  background-image: url(../images/icon-search.svg);
}

.navigation-link-search::before {
  content: "";
  display: block;
  width: 44px;
  height: 64px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-favorites::before {
  background-image: url(../images/icon-heart.svg);
}

.navigation-link-favorites::before {
  content: "";
  display: block;
  width: 44px;
  height: 64px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-link-search {
  display: block;
  box-sizing: border-box;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navigation-link-favorites {
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
}

.wish-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 34px;
  margin-left: 20px;
  cursor: pointer;
}

.wish-button:hover {
  background-color: #615048;
  transition: transform 0.5s ease-in-out;
}

.wish-button:active {
  background-color: #756157;
  color: #9E9089;
  transition: transform 0.5s ease-in-out;
}

.wish-button:focus-visible {
  background-color: #615048;
}

.wish-button:disabled {
  background-color: #E5E5E5;
  color: white;
  cursor: not-allowed;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: black;
  background-color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  background: url(../images/index-bg.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 485px;
}

.divider-hero {
  position: absolute;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 261px;
  gap: 25px;
}

.about-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.about-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

.divider-about::before {
  background-image: url(../images/divider-about.svg);
}

.divider-advantages::before {
  background-image: url(../images/advantages-divider.svg);
}

.hotel::before {
  background-image: url(../images/icon-home.svg);
}

.souvenir::before {
  background-image: url(../images/icon-souvenir.svg);
}

.burger::before {
  background-image: url(../images/icon-burger.svg);
}

.services-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 75px;
  height: 74px;
  top: 81px;
  left: 162px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.services-item-accent::before {
  position: absolute;
  content: "";
  display: block;
  width: 75px;
  height: 74px;
  top: 81px;
  left: 162px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 198px;
  left: 170px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-about-city::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 188px;
  left: 170px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-about-bridge::before {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 188px;
  left: 970px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #82B3D3;
}

.advantages-about-bridge {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 62px;
}

.advantages-about-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  gap: 62px;
}

.advantages-city-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.advantages-city-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: white;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 1200px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 62px;
  width: 400px;
  height: 385px;
  background-color: white;
}

.advantages-item-accent {
  background-color: hsla(204, 48%, 67%, 0.2);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30;

}

.advantages-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 261px;
  gap: 25px;
}

.welcome-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-top: 0
}

.welcome-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-top: 0
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 1200px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 400px;
  height: 385px;
  background-color: white;
}

.services-item-accent {
  position: relative;
  background-color: hsla(204, 48%, 67%, 0.12);
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding-top: 102px;
}

.services-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.search-result {
  width: 1060px;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 406px;
  text-align: center;
}

.search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.search-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 54px;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 50px;
}

.button-search:hover {
  background-color: #615048;
  transition: transform 0.5s ease-in-out;
}

.button-search:active {
  background-color: #756157;
  color: #9E9089;
  transition: transform 0.5s ease-in-out;
}

.button-search:focus-visible {
  background-color: #615048;
  transition: transform 0.5s ease-in-out;
}

.button-search:disabled {
  background-color: #E5E5E5;
  color: white;
  cursor: not-allowed;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../images/subscribe.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 414px;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  margin-top: 0
}

.subscription-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: white;
  margin: 0;
  padding: 0;
}

.button-subscription {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 50px;
}

.button-subscription:hover {
  background-color: #68A2CA;
  transition: transform 0.5s ease-in-out;
}

.button-subscription:active {
  background-color: #82B3D3;
  color: #A7CAE0;
  transition: transform 0.5s ease-in-out;
}

.button-subscription:focus-visible {
  background-color: #68A2CA;
}

.button-subscription:disabled {
  background-color: #E5E5E5;
  color: white;
  cursor: not-allowed;
}

.page-footer {
  display: flex;
  justify-content: center;
  width: 1200px;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 200px 660px 200px;
  place-items: center;
  justify-content: center;
  width: 1060px;
  height: 120px;
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: 1/2;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style-type: none;
  width: 46px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.button-social {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}


.vkontakte::before {
  background-image: url(../images/icon-social-vk.svg);
}

.telegram::before {
  background: url(../images/icon-social-telegram.svg);
}

.youtube::before {
  background-image: url(../images/icon-social-youtube.svg);
}

.button-social::before {
  content: "";
  display: block;
  width: 46px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.button-social:hover {
  background-color: #E5EFF6;
  transition: color 0.5s ease-in-out;
}

.button-social:active {
  background-color: #D2E3EF;
  transition: color 0.5s ease-in-out;
}

.button-social:focus-visible {
  border-color: #83B3D3;
  transition: color 0.5s ease-in-out;
}

.contacts-phone {
  grid-column: 2/3;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.contacts-phone:hover {
  color: #756157;
  transition: color 0.5s ease-in-out;
}

.contacts-phone:active {
  color: #D6D0CD;
  transition: color 0.5s ease-in-out;
}

.contacts-phone:focus-visible {
  color: #A69187;
  transition: color 0.5s ease-in-out;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: white;
  margin: 0;
  padding-bottom: 8px;
}

.inner-hero-catalog {
  background-color: #82B3D3;
  background: url(../images/catalog-bg.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 70px;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding-left: 0;
  padding-bottom: 40px;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-decoration: none;
  margin-top: 0
}

.breadcrumbsi-item {
  position: relative;
}

.breadcrumbsi-item-home::before {
  background-image: url(../images/icob-breadcrumbs-home.svg);
}

.breadcrumbs-link-home::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  top: 4px;
  left: 0;
}

.breadcrumbs-link-caret-right::before {
  background-image: url(../images/icon-caret-right.svg);
}

.breadcrumbs-link {
  position: relative;
  padding-left: 20px;
}

.breadcrumbs-link::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  top: 1px;
  left: 0;
}

.breadcrumbs-link:hover {
  color: #C9DAE8;
}

.breadcrumbs-link:focus-visible {
  color: hsla(204, 48%, 67%, 1);
}

.breadcrumbs-link:active {
  color: #9EA4A9;
}

.catalog-filter-group {
  margin: 0;
  padding-right: 70px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.catalog-filter-container {
  display: flex;
  flex-direction: row;
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: white;
}


.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-top: 0;
  padding-bottom: 32px
}

.catalog-filter-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  height: 160px;
  margin: 0;
  padding: 0;
}

.input-field-for {
  text-indent: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  width: 143px;
  height: 48px;
  cursor: pointer;
}


.price-for {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #A9A9A9;
  top: 12px;
  left: 248px;
  margin-top: 0
}

.input-field-for:hover {
  background-color: #E5E5E5;
}

.input-field-for:focus-visible {
  outline: 3px solid #83B3D3;
}

.input-field-to:hover {
  background-color: #E5E5E5;
}

.input-field-to:focus-visible {
  outline: 3px solid #83B3D3;
}

.catalog-filter-price {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 0;
  padding: 0;
  border: none;
}

.range-scale {
  position: relative;
  width: 224px;
  height: 4px;
  margin-top: 36px;
  background-color: white;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #D0D0D0;
}

.toggle-min {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  top: -8px;
  left: -218px;
  cursor: pointer;
}

.toggle-max {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  top: -8px;
  left: 0;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}


.price-to {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #A9A9A9;
  top: 12px;
  left: 106px;
  margin-top: 0
}

.input-field-to {
  text-indent: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 0 4px 4px 0px;
  background-color: #F2F2F2;
  width: 143px;
  height: 48px;
  cursor: pointer;
}

.button-cataloge-filter-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 56px;
  gap: 32px;
}

.catalog-price-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-top: 0;
  padding-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-to {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #A9A9A9;
  margin-top: 0
}

.catalog-control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 50px;
  width: 1060px;
  height: 50px;
}

.control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: white;
}

.button-cataloge-filter {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.button-cataloge-filter:hover {
  background-color: #68A2CA;
}

.button-cataloge-filter:active {
  background-color: #82B3D3;
  color: hsla(0, 0%, 100%, 0.3);
}

.button-cataloge-filter:focus-visible {
  background-color: #68A2CA;
}

.button-cataloge-filter:disabled {
  background-color: #E5E5E5;
}

.button-cataloge-filter-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
}

.button-cataloge-filter-reset:hover {
  color: #D4D4D4;
}

.button-cataloge-filter-reset:active {
  color: #B3B3B3;
}

.button-cataloge-filter-reset:focus-visible {
  border-color: hsla(204, 48%, 67%, 1);
}

.button-cataloge-filter-reset:disabled {
  color: #9E9E9E;
}

.catalog-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0
}

.card-view-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.sort-current::before {
  background-image: url(../images/icon-sort-card.svg);
}

.card-discription::before {
  background-image: url(../images/icon-sort-card-discription.svg);
}

.card-list::before {
  background-image: url(../images/icon-sort-card-list.svg);
}

.card-view-button::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.card-view-button-item {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  width: 48px;
  height: 48px;
}

.card-view-button-item:hover {
  border: 2px solid #000;
  transition: transform 0.5s ease;
}

.card-view-button-item:focus {
  border: 2px solid #68A2CA;
  transition: transform 0.5s ease;
}

.card-view-button-item:active {
  border: 2px solid black;
  transition: transform 0.5s ease;
}

.layout-current {
  border: 2px solid black;
}

.select-control {
  text-indent: 8px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 48px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus-visible {
  outline: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid #B3B3B3;
  color: #B3B3B3;
}

.sort {
  text-decoration: none;
}

.sort-current {
  background-color: black;
  color: white;
  border-radius: 4px;
  border-color: black;
  text-decoration: none;
}



.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  background: white;
}

.product-card:hover {
  box-shadow: 25px 0 50px 0 rgba(0, 0, 0, 0.15), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.product-card-link {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: black;
  text-decoration: none;
  margin-top: 0;
}


.product-card-title {
  margin: 0;
}

.price-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 16px;
}

.product-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 16px;
}

.product-card-image {
  padding-bottom: 16px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 20px;
}

.hotel-card-group {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.product-card-actions {
  display: flex;
  flex-direction: row;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.show-more:hover {
  background-color: #615048;
}

.show-more:active {
  background-color: #756157;
  color: #9E9089;
}

.show-more:focus-visible {
  background-color: #615048;
}

.show-more:disabled {
  background-color: #E5E5E5;
}

.wish-list {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #82B3D3;
  border: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.wish-list:hover {
  background-color: #82B3D3;
}

.wish-list:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.wish-list:focus-visible {
  background-color: #68A2CA;

}

.wish-list:disabled {
  background-color: #E5E5E5;
  color: white;
}

.button-wish-list-current {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #7DB54F;
  border: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.button-wish-list-current:hover {
  background-color: #6C9E42;
}

.button-wish-list-current:hover:active {
  color: hsla(0, 0%, 100%, 0.3);
}

.button-wish-list-current:focus {
  background-color: #6C9E42;
}

.button-wish-list-current:disabled {
  background-color: #E5E5E5;
}

.rating-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  width: 140px;
  height: 36px;
  gap: 12px;
  margin: 0;
  padding: 0;
}


.rating-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin: 0;
  text-align: center;
  width: 140px;
  height: 36px;
}

.rating-item {
  position: relative;
  width: 18px;
  height: 18px;
}

.rating-container {
  display: flex;
  flex-direction: row;
}

.rating-star::before {
  background: url(../images/icon-rating-star.svg);
}

.rating-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  top: 2px;
  left: 2px;
}

.rating-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hr-line {
  height: 0;
  border: none;
  border-top: 1px solid #E5E5E5;
  width: 1060px;
}

.hr-container {
  display: flex;
  align-items: center;
  height: 80px;


}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.pagination-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 60px;
  gap: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  padding: 14px 20px;
  margin-top: 0;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link-current:hover {
  color: hsla(0, 0%, 0%, 0.4);
}

.pagination-link-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
  padding: 14px 22px;
  margin-top: 0;
}

.pagination-link-truncate {
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: black;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 14px 22px;
  margin-top: 0;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.subscription-input {
  text-indent: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  cursor: pointer;
}

.subscription-input:hover {
  background: #E5E5E5;
  transition: transform 0.5s ease-in-out;
}

.subscription-input:active {
  outline: 3px solid #83B3D3;
  background-color: #E5E5E5;
  transition: transform 0.5s ease-in-out;
}


.subscription-input:valid {
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: black;
}

.subscription-form {
  position: relative;
  padding-top: 54px;
}

.subscription-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  height: 414px;
}

.subscription-inner-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  padding-bottom: 20px;
}

.subscription-inner-discription {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.subscription-inner-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
